/*LEAD*/

.lead {
    width: 100%;
    margin: 0;
    background: #2A2C2F;

        -webkit-font-smoothing: antialiazed;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    text-size-adjust: 100%;
}

.lead__container {
    max-width: 984px;
    width: 90%;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

.lead__content-title {
    max-width: 1184px;
    width: 90%;
    margin: auto;

    font-weight: 900;
    font-size: 96px;
    line-height: 93px;
}

.lead__content-subtitle {
    max-width: 583px;
    width: 50%;
    margin: auto;
    padding-top: 48px;

    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
}

.lead__figure {
    margin: 0 auto;
    max-width: 984px;
}


.lead__image {
    width: 100%;
    max-width: 984px;
    padding-top: 78px;
    height: auto;
    object-fit: cover;
    object-position: center;
}

.lead__caption {
    font-weight: normal;
    font-size: 10px;
    text-align: left;
    line-height: 12px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
}



@media screen and (max-width: 1200px) {
    .lead__container {
        width: 90%;
        max-width: 984px;
    }
    .lead__content-title {
        max-width: 782px;
        font-size: 9.3vw;
        line-height: 93px;
    }
    .lead__content-subtitle {
        max-width: 928px;
        width: 90%;
        font-size: 30px;
        line-height: 36px;
    }
    .lead__image {
        padding-top: 65px;
        width: 100%;
        max-width: 984px;
    }

}

@media screen and (max-width: 992px) {
    .lead__container {
        width: 90%;
        max-width: 928px;
    }
    .lead__content-title {
        max-width: 928px;
        width: 100%;
        font-size: 10vw;
        line-height: 93px;
    }
    .lead__content-subtitle {
        max-width: 928px;
        width: 90%;
        font-size: 30px;
        line-height: 36px;
    }
    .lead__image {
        padding-top: 65px;
        max-width: 928px;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .lead__container {
        width: 100%;
        max-width: 768px;
    }

    .lead__content-title {
        max-width: 720px;
        width: 93%;
        font-size: 12.5vw;
        line-height: 93px;
    }
    .lead__content-subtitle {
        font-size: 30px;
        line-height: 36px;
        max-width: 720px;
        width: 93%;
    }
    .lead__image {
        padding-top: 78px;
        max-width: 768px;
        width: 100%;
    }
    .lead__caption {
        margin-left: 24px;
        font-size: 10px;
        line-height: 12px;
    }

}

@media screen and (max-width: 480px) {
    .lead__container {
        width: 100%;
        max-width: 375px;
        padding-bottom: 32px;
    }

    .lead__content-title {
        max-width: 343px;
        width: 90%;
        font-size: 40px;
        line-height: 44px;

    }
    .lead__content-subtitle {
        font-size: 16px;
        line-height: 23px;
        max-width: 288px;
        width: 90%;
        padding-top: 8px;
    }
    .lead__image {
        padding-top: 32px;
        width: 100%;
    }
    .lead__caption {
        margin-left: 16px;
        font-size: 10px;
        line-height: 12px;
    }
}

