/*COVER*/

.cover {
    width: 100%;
    margin: 0;
    background: #2A2C2F;
}

.cover__container {
    max-width: 1184px;
    width: 95%;
    height: 594px;
    margin: 0 auto;
    display: flex;
    position: relative;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
    text-align: center;
}

.cover__link {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-decoration: none;
    z-index: 2;
}

.cover__title {
    font-weight: 900;
    font-size: 72px;
    line-height: 78px;

    margin: 0;
    position: absolute;
    top: 40%;
    transform: translate(0, 25%);
    z-index: 1;
}

.cover__subtitle {
    max-width: 382px;
    width: 100%;
    margin: 0;

    font-weight: normal;
    font-size: 18px;
    line-height: 26px;

    position: absolute;
    bottom: 33px;
    z-index: 1;
}

.cover-bg {
    width: 1184px;

    background-image: url("../../images/cover.jpg");
    background-position: center;
    background-size: cover;
    box-shadow: 0 0 10px 1px #000;
}

.cover-bg::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background: rgb(0, 0, 0);
    opacity: 0.2;
    border-radius: 5px;
    transition: opacity 1s ease;
}

.cover-bg:hover::before {
    opacity: 0;
}


@media screen and (max-width: 1200px) {
    .cover__container {
        max-width: 1045px;
        width: 100%;
    }
    .cover-bg {
        width: 100%;
        position: relative;
    }

    .cover__title {
        max-width: 720px;
        top: 30%;
        transform: translate(0, 30%);

        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    .cover__container {
        max-width: 992px;
        width: 100%;
    }
    .cover__title {
        max-width: 720px;
        top: 30%;
        transform: translate(0, 30%);

    }
    .cover__subtitle {
        max-width: 382px;
        bottom: 40px;

    }
    .cover-bg {
        width: 100%;
        position: relative;
    }

}


@media screen and (max-width: 768px) {
    .cover__container {
        max-width: 768px;
        width: 100%;
    }
    .cover__title {
        max-width: 720px;
        top: 30%;
        transform: translate(0, 30%);

        font-size: 9vw;
    }
    .cover__subtitle {
        max-width: 382px;
        bottom: 40px;

    }
    .cover-bg {
        width: 100%;
        position: relative;
    }

}

@media screen and (max-width: 480px) {
    .cover__container {
        max-width: 375px;
        width: 100%;
        height: 272px;
    }

    .cover-bg {
        width: 100%;
        position: relative;
    }

    .cover__title {
        max-width: 343px;
        top: 30%;
        transform: translate(0, 30%);
        font-size: 32px;
        line-height: 35px;
    }
    .cover__subtitle {
        max-width: 350px;
        width: 100%;
        bottom: 24px;
        font-size: 14px;
        line-height: 17px;
    }
}