/*PLACES*/

.places {
    width: 100%;
    margin: 0;
    background: #2A2C2F;
}

.places__container {
    max-width: 984px;
    width: 80%;
    margin: 0 auto;
    padding-top: 92px;
    display: flex;
    flex-direction: column;

    font-family: 'Inter';
    font-style: normal;
    color: #FFFFFF;
}

.place {
    margin-bottom: 72px;
    display: grid;
/*    grid-template-areas:
        'place__title place__website'
        'place__image place__paragraph';
    grid-template-columns: auto;
    grid-template-rows: auto;*/
    grid-template: repeat(2, auto) / 45% 1fr;
    grid-column-gap: 40px;
    grid-row-gap: 60px;

}

.place:last-of-type {
    margin-bottom: 0;
}

.place__title {
    max-width: 460px;
    margin: 0;
    font-weight: 900;
    font-size: 72px;
    line-height: 65px;
}

.place__website {
    max-width: 484px;
    align-self: end;
}

.place__url-heading{
    margin: 0;
    margin-bottom: 16px;

    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.2em;
    color: #AAAAAA;
}

.place__url {
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    text-decoration-line: underline;
    color: #FFFFFF;
    transition: opacity 1s ease;
}

.place__url:hover {
    opacity: 0.7;
}

.place__image {
    max-width: 100%;

}

.place__paragraph  {
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

.place__paragraph > p {
    margin: 0;
    margin-bottom: 36px;
}


@media screen and (max-width: 1200px) {
    .places__container {
        max-width: 928px;
        width: 95%;
        padding-top: 102px;
    }
    .place {
        grid-template: repeat(2, auto) / 47% 1fr;
        grid-column-gap: 32px;
        grid-row-gap: 40px;

    }
    .place__image {
        max-width: 100%;
    }

    .place__paragraph > p {
        margin: 0;
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 992px) {
    .place {
        grid-template: repeat(2, auto) / 47% 1fr;
    }
    .place__paragraph  {
        font-size: 16px;
        line-height: 27px;
    }
    .place__image {
        max-width: 100%;
    }
    .place__paragraph > p {
        margin-bottom: 24px;
    }
    .place__title {
        align-self: end;
        font-size: 42px;
        line-height: 46px;
    }


@media screen and (max-width: 768px) {
    .place {
        grid-template: repeat(2, auto) / 45% 1fr;
    }
    .places__container {
        max-width: 720px;
        width: 95%;
    }
    .place {
        grid-column-gap: 28px;
        grid-row-gap: 40px;
    }
    .place__title {
        align-self: end;
        font-size: 42px;
        line-height: 46px;
    }
    .place__paragraph  {
        font-size: 16px;
        line-height: 27px;
    }
    .place__image {
        max-width: 100%;
    }
    .place__paragraph > p {
        margin-bottom: 24px;
    }
}

/*@media screen and (max-width: 720px) {
        .place__website {
            visibility: hidden;
        }
*/


@media screen and (max-width: 480px) {
    .places__container {
        max-width: 375px;
        width: 100%;
        margin: 0 auto;
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .place {
        max-width: 343px;
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        align-items: center;
        padding-bottom: 48px;
    }

    .place__website {
        visibility: hidden;
        display: none;
    }

    .place__image {
        margin-top: 32px;
        max-width: 375px;
        align-self: flex-start;
        position: relative;
        left: -16px;
        width: calc(100% + 32px);
    }

    .place__title {
        align-self: end;
        font-size: 32px;
        line-height: 35px;
    }
    .place__paragraph  {
        margin: 0;
        font-size: 16px;
        line-height: 27px;
    }
    .place__paragraph > p {
        width: 100%;
        margin: 0;
        margin-top: 24px;
    }
}

@media screen and (max-width: 320px) {
    .places__container {
        max-width: 320px;
        width: 100%;
        margin: 0 auto;
        padding-top: 64px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .place {
        max-width: 320px;
        display: flex;
        flex-direction: column;
        margin: 0 16px;
        align-items: center;
        padding-bottom: 48px;
    }

    .place__website {
        visibility: hidden;
        display: none;
    }

    .place__image {
        margin-top: 32px;
        max-width: 320px;
        align-self: flex-start;
        position: relative;
        left: -16px;
        width: calc(100% + 32px);
    }

    .place__title {
        align-self: end;
        font-size: 32px;
        line-height: 35px;
    }
    .place__paragraph  {
        margin: 0;
        font-size: 16px;
        line-height: 27px;
    }
    .place__paragraph > p {
        width: 100%;
        margin: 0;
        margin-top: 24px;
    }
}